html {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 20px;
}

#highScoreLink {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

#timer {
  font-weight: bold;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

#beginSection {
  text-align: center;
}

#title {
  font-size: 2em;
  margin: 20px 0;
}

button.button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

#questionDisplay {
  text-align: center;
}

#questionDisplayText {
  font-size: 1.5em;
  margin: 20px 0;
}

#answerButtons {
  display: flex;
  justify-content: space-around;
}

button.optionButton {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
button.submitButton {
  padding-top: 8px;
}
#answerResults {
  margin: 20px 0;
}

#answerResults-text {
  font-size: 1.5em;
  font-weight: bold;
}

#submitHighScoreSection {
  text-align: center;
}

#initialBox {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

#highScoreDisplaySection {
  text-align: center;
}

#highScoreList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#highScoreList li {
  margin: 10px 0;
  font-size: 1.5em;
}

.nav-buttons {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-content: center;
  margin: 0 10px;
}

#clearHighScore {
  margin: 20px;

}

#backButton {
  margin: 20px;
}